.home-slide
    padding-top: 3rem
    padding-bottom: 3rem

    .flex-slide-home
        position: relative
        
        .description-slide>:not([hidden])~:not([hidden])
            --tw-space-y-reverse: 0
            margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)))
            margin-bottom: calc(1rem * var(--tw-space-y-reverse))

        .description-slide
            .text
                width: 55%

                .list-moonwine
                    list-style: inside
                    margin-top: 1rem
                    display: flex
                    flex-direction: column
                    gap: 0.5rem

            .btn
                width: 16rem
                margin-right: auto
                margin-left: auto

        .splide
            width: 50%
            position: absolute
            top: 10rem
            right: -1rem

            .splide__arrows
                display: none

            img
                width: 100%
    
.reassurance
    background-color: $beige
    color: $vert-fonce
    padding: 2rem 1rem
    overflow: hidden
    position: relative
    z-index: 0

    .grid
        display: grid
        grid-template-columns: repeat(2, minmax(0, 1fr))
        gap: 1.5rem

        h1
            font-weight: bold
            font-size: 18px
            line-height: 21px
            margin-bottom: 0.5rem
            position: relative
            width: max-content
            z-index: 10

            &:after
                content: ""
                width: 100%
                height: 6px
                background-color: $orange
                position: absolute
                left: 0
                bottom: 0.5px
                z-index: -1

        p
            font-size: 12px

.about-content
    display: flex
    flex-direction: column
    padding: 2rem
    gap: 2rem
    overflow: hidden


    h1
        font-weight: 700
        font-size: 20px
        color: $vert-fonce
        line-height: 30px

    .border
        display: none

    .info
        display: flex
        flex-direction: column
        gap: 2rem

        p
            color: $black-less
            font-weight: 400
            font-size: 18px
            line-height: 27px
            position: relative

            &::before
                content: ""
                background: url(assets/img/front-page/about/circle-left.svg)
                position: absolute
                width: 200px
                height: 130px
                bottom: 0
                left: -2rem
                background-repeat: no-repeat

            &::after
                content: ""
                background: url(assets/img/front-page/about/circle-right.svg)
                position: absolute
                width: 200px
                height: 130px
                top: 0
                right: -10rem
                background-repeat: no-repeat

.subscription
    padding: 2rem 1rem 2rem 0
    color: $black-less
    overflow: hidden
    p, li
        font-size: 14px
        line-height: 21px

    .element
        margin-bottom: 2rem

        h1
            color: $red
            text-transform: uppercase
            font-weight: 700
            font-size: 12px
            line-height: 33px

        h2
            font-weight: 700
            font-size: 22px
            color: $vert-fonce
            margin-top: 0.5rem
            margin-bottom: 1rem


        p, li
            font-weight: 400

        ul
            list-style: unset
            padding-left: 1rem

    .content
        display: flex
        justify-content: center
        align-items: center

        .element.desktop
            display: none

        div
            width: 50%
            &:first-child
                margin-right: 32px

        .advantages

            ul>:not([hidden])~:not([hidden])
                --tw-space-y-reverse: 0
                margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)))
                margin-bottom: calc(1rem * var(--tw-space-y-reverse))
            li
                display: flex
                gap: 0.5rem
                font-weight: 600

                &::before
                    content: url(assets/img/front-page/subscription/check.svg)

.newsletter
    background-color: $beige-clair
    position: relative
    padding: 20px
    overflow: hidden
    &::after
        content: ""
        background: url(assets/img/front-page/newsletter/circle-newsletter.svg)
        position: absolute
        width: 200px
        height: 130px
        top: -3rem
        right: -10rem
        background-repeat: no-repeat

    h2
        font-weight: 600
        font-size: 34px
        color: $vert-fonce

    .flex
        display: flex
        flex-direction: column

            
        p
            font-weight: 400
            font-size: 16px
            line-height: 24px
            color: $black-less
            margin: 1rem 0

        form
            position: relative

            .mail
                input
                    border: 1px solid $beige
                    border-radius: 10px
                    padding-left: 1rem !important
                    background-color: $beige-clair

            .gform_footer.top_label
                margin: 0
                padding: 0

            button
                border: none
                background-color: $beige
                border-top-right-radius: 10px
                border-bottom-right-radius: 10px
                position: absolute
                bottom: 0
                right: 0
                margin-bottom: 0 !important
                width: 25%
                height: 48px                   

                &:hover
                    cursor: pointer

                svg
                    width: 24px

.post
    margin: 90px 0

    .container
        display: grid
        grid-template-areas: "a c" "b b"
        grid-template-columns: 1fr
        @media (max-width: 767px)
            grid-template-areas: "a" "b" "c"

    h2
        font-family: 'Raleway'
        font-style: normal
        font-weight: 600
        font-size: 34px
        color: #114635
        grid-area: a

    img
        width: 100%
        height: auto

    ul

        display: flex
        align-items: stretch
        justify-content: space-between
        gap: 25px
        grid-area: b
        margin: 32px 0
        @media (max-width: 767px)
            flex-direction: column
        li
            width: 50%
            height: auto
            background-color: $white
            box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.05)
            border-radius: 3px
            @media (max-width: 767px)
                width: 100%

            a
                div
                    padding: 32px 25px
            h2
                font-family: 'Raleway'
                font-style: normal
                font-weight: 600
                font-size: 20px
                color: $black
                margin-bottom: 16px

            p
                font-family: 'Raleway'
                font-style: normal
                font-weight: 500
                font-size: 12px
                color: $black-less
    .btn
        grid-area: c
        min-width: 270px

.faq-section
    margin: 80px 0

    &--content
        display: grid
        grid-template-areas: "a a" "b c"
        grid-template-columns: 1fr 1fr
        gap: 32px
        @media (max-width: 767px)
            grid-template-areas: "a c" "b b"
            grid-template-columns: 1fr 1fr

        .text--title
            font-family: 'Raleway'
            font-style: normal
            font-weight: 600
            font-size: 34px
            color: $black
            margin-bottom: 48px
            grid-area: a
            @media (max-width: 767px)
                display: flex
                align-items: end

        &_column
            @media (max-width: 767px)
                margin-bottom: 24px
            &:nth-child(2)
                grid-area: b
            &:last-child
                grid-area: c


        .btn
            max-width: 300px
            margin-top: 60px

        .card
            position: relative
            &:after
                content: ""
                border-top: 1px solid $black
                position: absolute
                bottom: 0
                left: 0
                width: 100%
                height: 1px
            &:after:last-child
                display: none

            &-body
                font-family: 'Raleway'
                font-style: normal
                font-weight: 400
                font-size: 18px
                color: $black-less
                width: calc(100% - 32px)
                padding: 30px 0
                margin: 0 0 0 24px

            &-text
                margin-top: 20px

            .single-toggle-label
                width: 100%
                display: block
                &:after
                    border-left: 2px solid $black
                    border-bottom: 2px solid $black

.product-review
    margin-top: 100px

    .container
        display: grid
        grid-template-areas: "a c" "b b"
        grid-template-columns: 1fr
        @media (max-width: 767px)
            grid-template-areas: "a" "b" "c"

    .text--title
        font-family: 'Raleway'
        font-style: normal
        font-weight: 600
        font-size: 34px
        color: $vert-fonce
        grid-area: a
        width: 100%

    .btn
        width: 300px
        height: 60px
        grid-area: c
        @media (max-width: 767px)
            margin: 30px 0 60px 0

    &--content
        display: flex
        align-items: stretch
        justify-content: space-between
        gap: 30px
        grid-area: b
        margin: 28px 0
        flex-wrap: wrap

        .product-item
            display: flex
            flex-direction: column
            width: 100%
            height: 100%

            &-image
                width: 100%
                height: 50%

                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    @media (max-width: 600px)
                        object-position: bottom

            &-content
                width: 100%
                height: 50%
                padding: 16px
                background: $beige-clair

                h2
                    font-family: 'Raleway'
                    font-style: normal
                    font-weight: 600
                    font-size: 20px
                    color: $vert-fonce
                    margin-bottom: 5px
                    text-transform: uppercase

    .product-price
        display: flex
        justify-content: flex-start
        margin: 16px 60px 0 0

        &_abonne
            display: flex
            flex-direction: column
            align-items: flex-start
            margin-right: 20px
            &_price
                font-family: 'Raleway'
                font-style: normal
                font-weight: 600
                font-size: 20px
                color: $black
            &_title
                font-family: 'Raleway'
                font-style: normal
                font-weight: 500
                font-size: 12px
                margin-top: 8px
                color: $black

        .woocommerce-Price-amount
            display: flex
            flex-direction: column
            align-items: flex-start

            bdi,.woocommerce-Price-currencySymbol
                font-family: 'Raleway'
                font-style: normal
                font-weight: 600
                font-size: 20px
                color: $black

        .product-price_public_title
            font-family: 'Raleway'
            font-style: normal
            font-weight: 500
            font-size: 12px
            margin-top: 8px
            color: $black
    .product_meta
        display: flex
        flex-direction: row
        align-items: flex-start
        gap: 10px
        margin: 20px 0

        span
            padding: 3px 10px
            width: max-content
            font-family: 'Raleway'
            font-style: normal
            font-weight: 500
            font-size: 14px

            &:first-child
                background: $beige
            &:nth-child(2)
                background: $orange
                color: $white
            &:last-child
                background: $vert-clair
    .product-items
        width: 23%
        max-height: 530px
        @media (max-width: 1250px)
            width: 45%
        @media (max-width: 600px)
            width: 100%
        position: relative
        .product-panier
            position: absolute
            top: 10px
            right: 10px
            width: 32px
            height: 32px
            background: $white
            border-radius: 50%
            padding: 8px
            display: flex
            align-items: center
            justify-content: center





@media (min-width: 395px)
    .home-slide
        .flex-slide-home
            .splide
                top: 6rem

@media (min-width: 450px)
    .home-slide
        .flex-slide-home
            .splide
                width: 40%

@media (min-width: 519px)
    .home-slide
        .flex-slide-home
            .splide
                width: 35%
                top: 5rem

@media (min-width: 658px)
    .home-slide
        .flex-slide-home
            .splide
                width: 30%
                top: 3rem


@media (min-width: 991px)
    .reassurance
        .grid
            margin: 0 auto
    .about-content
        margin: 0 auto
    .newsletter
        h1
            margin: 0 auto
        .flex
            margin: 0 auto

@media (min-width: 768px)
    .home-slide
        .flex-slide-home
            display: flex
            align-items: center
            justify-content: center
            
            .description-slide>:not([hidden])~:not([hidden])
                margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)))

            .description-slide
                width: 50%

                .text
                    width: 100%

                .btn
                    width: 15rem
                    margin-right: auto
                    margin-left: 0

            .splide
                width: 40%
                position: static

                .splide__arrows
                    display: flex
                    justify-content: flex-end
                    gap: 1rem

                    .splide__arrow
                        position: static
                        background: none

    .reassurance
        padding: 3rem 1rem
        position: relative

        &::after
            content: ""
            background: url(assets/img/front-page/reassurance/circle-after-reassurance.svg)
            position: absolute
            width: 150px
            height: 4rem
            bottom: -1rem
            right: 0rem
            background-repeat: no-repeat

        .grid
            grid-template-columns: repeat(4, minmax(0, 1fr))

            h1
                margin-bottom: 1.5rem

    .about-content
        flex-direction: row
        justify-content: center
        gap: 2rem
        padding: 10rem 0
        
        .border
            background: $black
            width: 2px
            height: 260px
            display: block

        h1
            font-size: 34px
            line-height: 51px
        
        .info
            justify-content: space-around

            p

                &::before, &::after
                    content: none

        .btn
            width: 19rem

    .subscription
        .element.mobile
            display: none

        .content
            .element.desktop
                display: block
                width: 100%

                h1
                    font-size: 16px

                h2
                    font-size: 34px

    .newsletter
        padding: 3rem 20px
        margin: 140px 0 0

        &::after
            background: url(assets/img/front-page/newsletter/circle-newsletter-home.svg)
            width: 130px
            height: 206px
            top: -4rem
            right: 0rem

        .flex
            flex-direction: row
            align-items: center

            gap: 5rem

            .descr, .form
                width: 50%

            form
                position: relative

                .mail
                    input
                        padding: 1rem !important

                button
                    height: 51.25px

@media (min-width: 1536px)
    .home-slide
        .flex-slide-home
            &::after
                content: ""
                background: url(assets/img/front-page/slide/circle-right-slide.svg)
                position: absolute
                width: 252px
                height: 331px
                right: -15rem
                top: 10rem
                background-repeat: no-repeat