.single-product
  .single-product_desc
    margin: 100px auto
    .custom-flex
      align-items: center
      justify-content: space-between
      display: flex
      @media (max-width: 991px)
        flex-direction: column
      .woocommerce-product-gallery
        width: 40%
        display: flex
        align-content: center
        align-items: center
        justify-content: center
        height: auto
        @media (max-width: 1200px)
          width: 25%
        @media (max-width: 991px)
          width: 100%
          margin-bottom: 30px
        .woocommerce-product-gallery__wrapper
          height: max-content
        .woocommerce-product-gallery__image
          position: relative
          &:before
            content: url("assets/img/bulle.png")
            width: auto
            height: auto
            background-repeat: no-repeat
            position: absolute
            top: -40px
            right: -40px
            z-index: -1
            @media (max-width: 991px)
              right: -15px
          &:after
            content: url("assets/img/zizag.png")
            width: auto
            height: auto
            background-repeat: no-repeat
            position: absolute
            bottom: 0
            left: -80px
            z-index: -1

          .wp-post-image
            width: 370px
            height: auto
            position: relative


      .summary
        width: 58%
        height: auto
        background: $beige-clair
        padding: 60px
        position: relative
        z-index: 0
        @media (max-width: 1200px)
          padding: 30px
          width: 65%
        @media (max-width: 991px)
          width: 100%
        &:before
          content: url("assets/img/zizag2.png")
          width: auto
          height: auto
          position: absolute
          top: 0
          left: 0

        .custom-flex
          align-items: center
          justify-content: space-between
          display: flex
          position: relative
          z-index: 1
          @media (max-width: 991px)
            flex-direction: row
          @media (max-width: 768px)
            flex-direction: column
          &_column
            width: 50%
            @media (max-width: 768px)
              width: 100%
            &:first-child
              margin-right: 50px
              @media (max-width: 768px)
                margin-right: 0
                margin-bottom: 30px
          .product_title
            font-family: 'Raleway'
            font-style: normal
            font-weight: 700
            font-size: 40px
            margin-bottom: 20px
            color: $vert-fonce

          .product_meta
            display: flex
            flex-direction: row
            align-items: flex-start
            gap: 10px
            margin-bottom: 40px

            span
              padding: 3px 10px
              width: max-content
              font-family: 'Raleway'
              font-style: normal
              font-weight: 500
              font-size: 14px

              &:first-child
                background: $beige
              &:nth-child(2)
                background: $orange
                color: $white
              &:last-child
                background: $vert-clair

          .years_cuve
            font-family: 'Raleway'
            font-style: normal
            font-weight: 700
            font-size: 16px
            letter-spacing: 3px
            text-transform: uppercase
            color: $vert-fonce
            margin-bottom: 10px

            &:before
              content: "-"

          .woocommerce-product-details__short-description
            strong
              font-family: 'Raleway'
              font-style: normal
              font-weight: 600
              font-size: 20px
              color: $black
            p
              font-family: 'Raleway'
              font-style: normal
              font-weight: 400
              font-size: 16px
              color: $black
              margin: 16px 0 20px 0

          .produc-info
            font-family: 'Raleway'
            font-style: normal
            font-weight: 600
            font-size: 14px
            line-height: 150%
            text-decoration-line: underline
            color: $black

          .product-status
            font-family: 'Raleway'
            font-style: normal
            font-weight: 400
            font-size: 18px
            color: $vert-fonce

          .product-price
            display: flex
            justify-content: space-between
            margin-top: 16px

            &_abonne
              display: flex
              flex-direction: column
              align-items: flex-start
              margin-right: 20px
              &_price
                font-family: 'Raleway'
                font-style: normal
                font-weight: 600
                font-size: 32px
                color: $vert-fonce
              &_title
                font-family: 'Raleway'
                font-style: normal
                font-weight: 500
                font-size: 12px
                margin-top: 8px
                color: $black

            .woocommerce-Price-amount
              display: flex
              flex-direction: column
              align-items: flex-start

              bdi,.woocommerce-Price-currencySymbol
                font-family: 'Raleway'
                font-style: normal
                font-weight: 600
                font-size: 32px
                color: $vert-fonce

            .product-price_public_title
              font-family: 'Raleway'
              font-style: normal
              font-weight: 500
              font-size: 12px
              margin-top: 8px
              color: $black

          .product-quantity
            margin: 30px 0 0 0

            .number-input button
              outline: none
              -webkit-appearance: none
              border: none

            &-choice
              display: flex
              justify-content: space-between
              margin: 10px 0 40px 0

              &_up,&_down
                background: $beige
                width: 65px
                height: 54px
                display: flex
                justify-content: center
                align-items: center
                font-size: 32px

            .btn
              width: 100%
              border: 0
              cursor: pointer

            .number-input
              display: flex

              input[type=number]
                -webkit-appearance: textfield
                -moz-appearance: textfield
                appearance: textfield
                font-family: sans-serif
                max-width: 120px
                padding: .5rem
                border: 2px solid $beige
                font-size: 2rem
                height: 54px
                font-weight: bold
                text-align: center

                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button
                  -webkit-appearance: none
          .product-info
            margin: 20px 0 0 0
            display: flex
            justify-content: space-between
            align-items: center

            .product-info_paiement,.product-info_livraison
              font-family: 'Raleway'
              font-style: normal
              font-weight: 500
              font-size: 12px
              color: $black
              display: flex
              align-items: center
              justify-content: center

              svg
                margin-right: 20px
          hr
            margin: 20px 0
          .product-livraison
            &_title
                font-family: 'Raleway'
                font-style: normal
                font-weight: 600
                font-size: 14px
                color: $black
                margin-bottom: 16px
            &_column
              width: 100%
              display: flex
              justify-content: space-between
              align-items: center
              margin-bottom: 10px
            &_price
              font-family: 'Raleway'
              font-style: normal
              font-weight: 500
              font-size: 12px
              color: $black
            &_delay
              font-family: 'Raleway'
              font-style: normal
              font-weight: 500
              font-size: 12px
              color: $orange

  .product-composition
    &--content
      display: flex
      justify-content: space-between
      align-items: center
      @media (max-width: 767px)
        flex-direction: column

      &_column

        &:first-child
          width: 60%
          margin-right: 50px
          @media (max-width: 767px)
            width: 100%
            margin-right: 0
          .card-body
            width: 100%
            max-width: 686px
            height: 100%
            min-height: 72px
            box-shadow: (0px 4px 10px rgba(0, 0, 0, 0.05))
            padding: 20px
            font-size: 20px

            .single-toggle-content
              padding: 20px 0
            .single-toggle-label
              width: 100%
              height: 100%
              display: block


              &:after
                border-left: 2px solid $black
                border-bottom: 2px solid $black
                height: 15px
                width: 15px

          .card-text
            font-family: 'Raleway'
            font-style: normal
            font-weight: 600
            font-size: 16px
            color: $vert-fonce

        &:last-child
          width: 40%
          background: $vert-clair
          padding: 32px 24px
          @media (max-width: 767px)
            width: 100%
            margin-top: 30px
          .product-composition--content_column_title
            font-family: 'Raleway'
            font-style: normal
            font-weight: 600
            font-size: 20px
            color: $black

          .list-item
            font-family: 'Raleway'
            font-style: normal
            font-weight: 600
            font-size: 16px
            color: $black
            margin-top: 20px

            .items
              font-weight: 400
              list-style-type: disc
              margin-left: 20px
              line-height: 1.2

  .product-desc
    margin-top: 80px
    .woocommerce-tabs
      .wc-tabs
        display: none

    #tab-description
      h2
        &:first-child
          display: none

    h2
      font-family: 'Raleway'
      font-style: normal
      font-weight: 600
      font-size: 34px
      color: $black
      margin-bottom: 30px
      @media (max-width: 767px)
        margin-top: 30px

    p
      font-family: 'Raleway'
      font-style: normal
      font-weight: 400
      font-size: 16px
      color: $black
      margin-bottom: 20px

      strong
        font-weight: 600

    &_content
      display: flex
      justify-content: space-between
      align-items: stretch
      @media (max-width: 767px)
        flex-direction: column-reverse
        align-items: center
    &_column
      width: 55%
      @media (max-width: 767px)
        text-align: center
        width: 100%
      &:last-child
        width: 45%
        margin-left: 80px
        text-align: end
        @media (max-width: 767px)
          text-align: center
          margin-left: 0
          width: 100%

.product
  .product-single-desc
    margin: 0




