@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap')

$transition: 0.3s
$largeur-base : calc(100% / 12)
$largeur-2 :  calc((100% / 12) * 2 )
$largeur-3 :  calc((100% / 12) * 3 )
$largeur-4 :  calc((100% / 12) * 4 )
$largeur-5 :  calc((100% / 12) * 5 )
$largeur-6 :  calc((100% / 12) * 6 )
$largeur-7 :  calc((100% / 12) * 7 )
$largeur-8 :  calc((100% / 12) * 8 )
$largeur-9 :  calc((100% / 12) * 9 )
$largeur-10 :  calc((100% / 12) * 10 )
$largeur-11 :  calc((100% / 12) * 11 )
$black : #000
$white : #FFF
$vert-fonce : #114635
$vert-clair : #D9E0C0
$beige: #E2DAC3
$beige-clair: #FAF8F1
$orange: #DA8953
$red: #B83D42


@mixin flex($vertical:false,$display:false,$align:false)
  @if $vertical
    align-items: $vertical
  @else
    align-items: center

    @if $display
      display: $display
    @else
      display: flex

    @if $align
      justify-content: $align
    @else
      justify-content: space-between



@mixin transition
  transition: all $transition

@mixin hover
  text-decoration: none
  &:before,
  &:after
    transform: translate3d(0, 100%, 0)

  &:after
    transition-delay: 0.175s


@mixin genericHover
  &:before,
  &:after
    content: ''
    position: absolute
    height: 100%
    width: 100%
    bottom: 100%
    left: 0
    z-index: -1
    transition: transform 0.3s
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1)

  &:before
    background: $blue-3

  &:after
    background: $black

  &:hover
    @include hover


